<include file="./Common:header" />
<import type='css' file="Home.css.pd_material" />
    </head>
    <body>
        <!--navbar-->
        <include file="./Common:top_navbar" />
        
        <!--content-->
        <div class="container">
            <div class="row clearfix main_content news_create_main_content">
                    <div class="col-xs-12 column cur_path_bar">
                        <h5> <a href="newsList"><span class="glyphicon glyphicon-chevron-left"></span> 素材管理 </a><span data-where="modify">/ 修改图文素材</span></h5>
                    </div>
                    <div class="col-md-3 column left">
                        <h5 class="text-center">图文列表</h5>
                        <div class="col-xs-12 column cell">
                            <div class="col-xs-12 column news_box">
                                <div class="news_header_more">
                                    <h5>2016年10月28</h5>
                                 </div>
                                <div class="col-xs-12 column news_body">
                                    <div class="first data_box active" data-index="0" data-state="1">
                                        <div>
                                            <img src="" width="100%" height="120px" data-id="">
                                            <h5 class="sm">title</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 column news_footer">
                                    <button class="btn btn-default btn-sm" data-type='add_news'><span class="glyphicon glyphicon-plus"></span></button><button class="btn btn-default btn-sm" data-type='del_news'><span class="glyphicon glyphicon-remove"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 column center">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">标 题</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name='title' />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">作 者</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name='author' />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">摘 要</label>
                                <div class="col-sm-11">
                                    <input type="text" class="form-control" name="digest" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12 control-label" style="text-align:center;padding:5px;">文 章 内 容</label>
                                <div class="col-sm-12">
                                    <textarea name="editor" id="editor" rows="10" cols="80">
                                        This is my textarea to be replaced with CKEditor.
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><span class="glyphicon glyphicon-link"></span> 原 文 链 接</label>
                                <div class="col-sm-10">
                                    <input type="url" class="form-control" name="content_source_url" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><span class="glyphicon glyphicon-picture"></span> 图 文 封 面</label>
                                <div class="col-sm-10">
                                    <a id="modal-347417" href="#modal-container-image" data-toggle="modal"><button class="btn btn-default btn-sm" data-type="select_from_material">从素材库选择</button></a>
                                    <button class="btn btn-default btn-sm" data-type="upload_thumb">本地上传</button><input class="hidden" type="file" id="thumb_file" />
                                    <span  class="help-block" >大图片建议尺寸：900像素 * 500像素</span>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-success" id="progressBar">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div> 
            </div>
        </div>
        <div class="container news_container_footer">
                <div class="col-xs-6 col-xs-offset-3 column">
                    <button class="btn btn-success btn-sm" id="update_news">保 存</button><button class="btn btn-success btn-sm" id="close_edit">退 出 编 辑</button>
                </div> 
            </div>  

        <!--从素材库选择图片-->
        <div class="container material_container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="modal fade" id="modal-container-image" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="dialog_mask">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            选择图片
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col-sm-12 column">
                                            <div class="img_list">

                                            </div>
                                            <a href="javascript:void(0)" class="load_more hidden" data-load="image">加载更多…</a>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button data-type="ensure" class="btn btn-primary disabled" id="select_img">确定</button>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--footer-->
        <include file="./Common:footer" />
        <newsData class="hidden" data-id="{$media_id}">{$news}</newsData>
    </body>
<include file="./Common:bottom_js" />
<import type='js' file="Home.js.ckeditor.ckeditor" />
<import type='js' file="Home.js.create_news" />
</html>