<include file="./Common:header" />
    <import type='css' file="Home.css.about_us" />
    </head>
    <body>
        <!--navbar-->
        <include file="./Common:top_navbar" />
        <!--content-->
        <div class="container">
            <div class="row clearfix">
                <div class="col-sm-12 col-md-12 col-lg-12 column">
                    <div class="jumbotron">
                        <h1>
                            Hello, world!
                        </h1>
                        <p>
                            This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
                        </p>
                        <p>
                             <a class="btn btn-primary btn-large" href="#">Learn more</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-12 col-md-12 col-lg-12 column bottom_content">
                    <div class="tabbable" id="tabs-429858">
                        <ul class="nav nav-tabs">
                            <li>
                                 <a href="#panel-about-us" data-toggle="tab">关于我们</a>
                            </li>
                            <li class="active">
                                 <a href="#panel-growth-history" data-toggle="tab">成长历史</a>
                            </li>
                            <li>
                                 <a href="#panel-business-cooperation" data-toggle="tab">商务合作</a>
                            </li>
                            <li>
                                 <a href="#panel-join-us" data-toggle="tab">加入我们</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" id="panel-about-us">
                                <p>
                                    I'm in Section 1.
                                </p>
                            </div>
                            <div class="tab-pane active" id="panel-growth-history">
                                <p>
                                    Howdy, I'm in Section 2.
                                </p>
                            </div>
                            <div class="tab-pane" id="panel-business-cooperation">
                                <p>
                                    Howdy, I'm in Section 3.
                                </p>
                            </div>
                            <div class="tab-pane" id="panel-join-us">
                                <p>
                                    Howdy, I'm in Section 4.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--footer-->
        <include file="./Common:footer" />
    </body>
</html>