<div class="main-wrap">

    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="index.html">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">查看公众号</span></div>
    </div>
    <div class="result-wrap">
        <form name="myform" id="myform" method="post">
            <div class="result-content">
                <table class="result-tab" width="100%">
                    <tr>
                        <!--<th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>-->
                        <!--<th>排序</th>-->
                        <th>ID</th>
                        <th>公众号名称</th>
                        <th>用户ID</th>
                        <th>Token</th>
                    </tr>
                    <volist name="list" id="vo">
                        <tr>
                            <td>{$vo.id}</td>
                            <td>{$vo.app_name}</td>
                            <td>{$vo.user_id}</td>
                            <td>{$vo.token}</td>
                        </tr>
                    </volist>
                </table>
                <div class="list-page">{$page}</div>
            </div>
        </form>
    </div>
</div>
