<include file="./Common:header" />
<import type='css' file="Home.css.about_us" />
    </head>
    <body>
        <!--navbar-->
        <include file="./Common:top_navbar" />
        <!--content-->
        <div class="container-fluid main_content">
            <div class="row clearfix">
                <div class="col-xs-12 column">
                    <div class="jumbotron">
                        <h1>
                            WGJ
                        </h1>
                        <p>
                            This is a needle for WeChat public platform to build the third party platform. The main is to provide users with convenient professional interface services. Allows users to easily create and manage their own public number function. At the same time to provide a variety of features to WeChat public platform.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-xs-12 column bottom_content">
                    <div class="tabbable" id="tabs-429858">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                 <a href="#panel-about-us" data-toggle="tab">关于我们</a>
                            </li>
                            <li>
                                 <a href="#panel-growth-history" data-toggle="tab">成长历史</a>
                            </li>
                            <li>
                                 <a href="#panel-business-cooperation" data-toggle="tab">商务合作</a>
                            </li>
                            <li>
                                 <a href="#panel-join-us" data-toggle="tab">加入我们</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="panel-about-us">
                                <br>
                                <h4>&nbsp;&nbsp;公司简介</h4>
                                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;微管家是一个针对于微信公众平台所打造的第三方平台，主要是为用户提供便捷的专业接口服务，使用户可以轻松的创建和管理自己的公众号功能，同时对微信公众平台提供多种特色功能，是您的公众号更加有趣。</p>
                                <h4>&nbsp;&nbsp;团队介绍</h4>
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们，是一群执着于互联网的人、一群怀着极客精神的人。<br>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们，是一个年轻的团队，创造、进步、服务创业者是我们一直坚守的信念。<br>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们，拥有千万微管家用户，是最贴近微管家的人。<br>

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们，“企图”成为一颗启明星，为微管家和创业者的成长指明方向
                                </p>
                            </div>
                            <div class="tab-pane" id="panel-growth-history">
                                <p><br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;微管家项目实训小组历经不到两个月的发展，目前拥有设计、管理、工程师、测试员等各类员工6人，志在实现微信公众号大众化，令更多的人可以简单便捷的使用微信公众号，根据未来发展战略，微管家在未来完全上市后，将通过多接口、多设计等经营模式，提高微管家在微信公众号管理中的地位。<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一、微管家项目板块以多种接口方式，做强做公众号产业，进一步巩固微信公众号管理地位；<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;二、微管家项目实训小组，将着力微信公众号的功能拓展，使微管家形成借用、创新并驾齐驱的发展局面；<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;三、微管家设计创意自定义公众号接口模块，使用户在使用的同时，可以发散自己的想法以得到更方便的使用。<br>
                                    &nbsp;&nbsp;这三大板块将构成微管家项目实训小组未来向团队化发展的框架，在未来投入市场后，持续保持发展后劲，真正成为微信公众号的管理者。
                                </p>
                            </div>
                            <div class="tab-pane" id="panel-business-cooperation">
                                <p><br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们是一家倡导用户通过自媒体平台分享互联网消费体验的自媒体营销平台，愿与所有合作伙伴互惠互助，共谋发展！<br>
                                    <br>
                                    &nbsp;&nbsp;商家合作：<br>
                                    <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;首页轮播广告位;<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;淘宝店铺收录;淘宝名店收录(店铺信誉两皇冠以上，知名品牌，销量良好)；<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;网站/微博活动合作及礼品赞助等：可详细沟通洽谈；QQ咨询：317619554<br>
                                    <br>
                                    &nbsp;&nbsp;媒体/市场合作：<br>
                                    <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;活动赞助、媒体访谈、市场合作等，QQ：317619554<br>
                                    <br>
                                    &nbsp;&nbsp;友情链接合作：<br>
                                    <br>
                                    &nbsp;&nbsp;网站友情链接合作，QQ:317619554<br>
                                    <br>
                                    &nbsp;&nbsp;其他商务合作，请联系 317619554@qq.com
                                </p>
                            </div>
                            <div class="tab-pane" id="panel-join-us">
                                <p><br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;选择加入微管家团队，不只是选择一份职业，而是选择一份事业！<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果您希望得到一份朝九晚五、墨守成规的工作，很抱歉，微管家团队并不适合您；<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果您喜欢挑战，不惧压力，愿意用自己的汗水和才智去开创属于自己的天空，<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;愿意与我们一同感受创业的艰辛和开心、享受成功的喜悦，那么微管家团队期待您的加盟！<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们将为您提供积极进取的工作环境、充分发挥创意的舞台和广阔的发展空间，<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您的不懈努力将获得超乎想象的丰厚回报！<br>
                                    <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果你足够优秀，同时有创业者的胸怀和热情，相信青春只有投身到自己热爱的事情中才有价值，<br>也才可能得到最大的回报，那么赶快加入我们吧！<br>
                                    <br>
                                    &nbsp;&nbsp;联系人：微管家团队<br>
                                    &nbsp;&nbsp;联系电话：152-3216-0915<br>
                                    &nbsp;&nbsp;邮箱：317619554@qq.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--footer-->
        <include file="./Common:footer" />
    </body>
<include file="./Common:bottom_js" />
</html>