
    <!--轮播图-->
        <div class="row clearfix">
                <div class="col-sm-12 col-md-12 col-lg-12 column">
                    <div class="carousel slide" id="carousel-508571">
                        <ol class="carousel-indicators">
                            <li class="active" data-slide-to="0" data-target="#carousel-508571">
                            </li>
                            <li data-slide-to="1" data-target="#carousel-508571">
                            </li>
                            <li data-slide-to="2" data-target="#carousel-508571">
                            </li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img alt="" src="__PUBLIC__/Home/images/default1.jpg" />
                                <div class="carousel-caption">
                                    <h4>
                                        First Thumbnail label
                                    </h4>
                                    <p>
                                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img alt="" src="__PUBLIC__/Home/images/default2.jpg" />
                                <div class="carousel-caption">
                                    <h4>
                                        Second Thumbnail label
                                    </h4>
                                    <p>
                                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <img alt="" src="__PUBLIC__/Home/images/default3.jpg" />
                                <div class="carousel-caption">
                                    <h4>
                                        Third Thumbnail label
                                    </h4>
                                    <p>
                                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                                    </p>
                                </div>
                            </div>
                        </div> <a class="left carousel-control" href="#carousel-508571" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-508571" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </div>
        </div>
    <!--展示区-->
        <div class="container show_panel">
            <div class="row clearfix">
                <div class="col-sm-6 col-md-6 col-lg-6 column">
                    <h4>
                        最新动态<div class="more">
                        <a href="#"><span>>></span>更多</a>
                        </div>
                    </h4>
                    <ul class="list-unstyled nav">
                        <li>
                            <a href="">Lorem ipsum dolor sit amet</a>
                        </li>
                        <li>
                            <a href="">Consectetur adipiscing elit</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum dolor sit amet</a>
                        </li>
                        <li>
                            <a href="">Consectetur adipiscing elit</a>
                        </li>
                         <li>
                            <a href="">Consectetur adipiscing elit</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 column">
                    <h4>
                        特色推荐<div class="more">
                        <a href="#"><span>>></span>更多</a></div>
                    </h4>
                    <ul class="list-unstyled nav">
                        <li>
                            <a href="">Lorem ipsum dolor sit amet</a>
                        </li>
                        <li>
                            <a href="">Consectetur adipiscing elit</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum dolor sit amet</a>
                        </li>
                        <li>
                            <a href="">Consectetur adipiscing elit</a>
                        </li>
                         <li>
                            <a href="">Consectetur adipiscing elit</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--<div class="row clearfix">
                <div class="col-sm-12 col-md-12 col-lg-12 column">
                    <h4>
                        项目展示
                    </h4>
                    <ul class="list-unstyled nav">
                        <li>
                            <a href="">Lorem ipsum dolor sit amet</a>
                        </li>
                        <li>
                            <a href="">Consectetur adipiscing elit</a>
                        </li>
                        <li>
                            <a href="">Lorem ipsum dolor sit amet</a>
                        </li>
                        <li>
                            <a href="">Consectetur adipiscing elit</a>
                        </li>
                         <li>
                            <a href="">Consectetur adipiscing elit</a>
                        </li>
                    </ul>
                </div>
            </div>-->
        </div>
    <!--boottom nav-->
    <div class="container bottom_bar">
        <div class="row clearfix">
            <div class="col-sm-12 col-md-12 col-lg-12 column">
            <div class="row clearfix">
                <div class="col-sm-3 col-md-3 col-lg-3 column">
                    <h4>
                        新手上路
                    </h4>
                    <ul  class="list-unstyled">
                        <li>
                            <a href="">新手指南</a>
                        </li>
                        <li>
                            <a href="">进阶操作</a>
                        </li>
                        <li>
                            <a href="">特色功能</a>
                        </li>
                        <li>
                            <a href="">定制功能</a>
                        </li>
                        <li>
                            <a href="">产品中心</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 column">
                    <h4>
                        商务合作
                    </h4>
                    <ul  class="list-unstyled">
                        <li>
                            <a href="">合作优势</a>
                        </li>
                        <li>
                            <a href="">合作入口</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 column">
                    <h4>
                        使用帮助
                    </h4>
                    <ul  class="list-unstyled">
                        <li>
                            <a href="">常见问题</a>
                        </li>
                        <li>
                            <a href="">微信规范</a>
                        </li>
                        <li>
                            <a href="">在线咨询</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 column">
                    <h4>
                        关于我们
                    </h4>
                    <ul  class="list-unstyled">
                        <li>
                            <a href="">功能介绍</a>
                        </li>
                        <li>
                            <a href="">公司历程</a>
                        </li>
                        <li>
                            <a href="">加入我们</a>
                        </li>
                    </ul>
                </div>
            </div>
            </div></div>
    </div>