<include file="./Common:header" />
    </head>
    <body>
        <div class="container-fluid" style="height: 5px;background: #41dbeb;"></div>
        <include file="./Common:top_navbar" />
        <div class="container-fluid bg_wall">
            <!--引导区-->
            <div class="container-fluid nav_blank act" data-id="1">
                <span>
                    <div class="img"></div>
                    <h1>极速 简单 高效</h1>
                    <p>领先的微信公众号开发平台，极速的开发体验</p>
                    <p>为您的公众号保驾护航</p>
                </span>
                <p class="down_row">︾</p>
            </div>
            <!--展示区-->
            <div class="container-fluid show_panel hid" data-id="2">
                <div class="container-fluid">
                    <div class="row clearfix content">
                        <div class="col-sm-6 col-md-6 col-lg-6 column">
                            <h4>
                                最新动态<div class="more">
                                <a href="#"><span>>></span>更多</a>
                            </div>
                            </h4>
                            <ul class="list-unstyled nav index_list">
                                <volist name="latestDynamic" id="vo">
                                    <li>
                                        <a href="">{$vo['title']}<span class="time">{$vo['createtime']|time=###|date="Y-m-d",###}</span></a>
                                    </li>
                                </volist>

                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 column">
                            <h4>
                                特色推荐<div class="more">
                                <a href="#"><span>>></span>更多</a></div>
                            </h4>
                            <ul class="list-unstyled nav index_list">
                                <volist name="specialRecommendation" id="vo">
                                    <li>
                                        <a href="">{$vo['title']}<span class="time">{$vo['createtime']|time=###|date="Y-m-d",###}</span></a>
                                    </li>
                                </volist>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--boottom nav-->
            <div class="container-fluid bottom_bar hid" data-id="3">
                <div class="row clearfix content">
                    <div class="col-xs-6 col-sm-3 column">
                        <h4>
                            新手上路
                        </h4>
                        <ul  class="list-unstyled">
                            <li>
                                <a href="">新手指南</a>
                            </li>
                            <li>
                                <a href="">进阶操作</a>
                            </li>
                            <li>
                                <a href="">特色功能</a>
                            </li>
                            <li>
                                <a href="">定制功能</a>
                            </li>
                            <li>
                                <a href="">产品中心</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-3 column">
                        <h4>
                            商务合作
                        </h4>
                        <ul  class="list-unstyled">
                            <li>
                                <a href="">合作优势</a>
                            </li>
                            <li>
                                <a href="">合作入口</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-3 column">
                        <h4>
                            使用帮助
                        </h4>
                        <ul  class="list-unstyled">
                            <li>
                                <a href="">常见问题</a>
                            </li>
                            <li>
                                <a href="">微信规范</a>
                            </li>
                            <li>
                                <a href="">在线咨询</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-3 column">
                        <h4>
                            关于我们
                        </h4>
                        <ul  class="list-unstyled">
                            <li>
                                <a href="">功能介绍</a>
                            </li>
                            <li>
                                <a href="">公司历程</a>
                            </li>
                            <li>
                                <a href="">加入我们</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row clearfix index_footer">
                    <div class="col-xs-12 column">
                        <p class="text-center">
                            Copyright © 2011-2016 www.weiguanjia.com. All Rights Reserved software college of Hebei Normal University
                        </p>
                        <p class="text-center">冀 ICP 备 2016110.3485A</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
<include file="./Common:bottom_js" />
<import type='js' file="Home.js.index_style" />
</html>