    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__ROOT__/Admin/Index/Index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">所有商务会议</span></div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post" enctype= "multipart/form-data" action="__ROOT__/Admin/ShufflingImg/add">
                <div class="result-title">
                    <div class="result-list">
                        <a href="#" class="addimg"><i class="icon-font"></i>新增图片</a>
                        <div class="update" style="display: none">
                            <div>

                                    <div>
                                        <label>图片别名</label><input type="text" class="addimg_name" name="img_name" id="img_name">
                                    </div>
                                    <div>
                                        <input type="file" class="addimg_img" name="img_img" id="img_img">
                                    </div>
                                    <div>
                                        <input type="submit" name="submit" value="上传">
                                    </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>
                            <th>ID</th>
                            <th>图片别名</th>
                            <th>图片预览</th>
                            <th>操作</th>
                        </tr>
                        <!--<tr>-->
                            <!--<td class="tc"><input name="id[]" value="59" type="checkbox"></td>-->
                            <!--<td>-->
                                <!--<input name="ids[]" value="59" type="hidden">-->
                                <!--<input class="common-input sort-input" name="ord[]" value="0" type="text">-->
                            <!--</td>-->
                            <!--<td>59</td>-->
                            <!--<td title="2015中国国际矿业大会组委会会议10月26日下午在津召开"><a target="_blank" href="#" title="2015中国国际矿业大会组委会会议10月26日下午在津召开">2015中国国际</a> …-->
                            <!--</td>-->
                            <!--<td>2016-09-05 21:11:01</td>-->
                            <!--<td>2016-09-06 09:11:01</td>-->
                            <!--<td>-->
                                <!--<a class="link-update" href="#">修改</a>-->
                                <!--<a class="link-del" href="#">删除</a>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <volist name="list" id="vo">
                            <tr>
                                    <td class="tc"><input name="{$vo.id}" value="{$vo.id}" type="checkbox"></td>
                                    <td>{$vo.id}</td>
                                    <td><a target="_blank" href="#">{$vo.imgname}</a></td>
                                    <td><img src='__PUBLIC__/{$vo.src}' width="100px"></td>
                                    <td>
                                        <a class="link-del" href="__ROOT__/Admin/ShufflingImg/delete?id={$vo.id}" name="{$vo.id}">删除</a>
                                    </td>
                            </tr>
                        </volist>
                    </table>
                    <div class="pagination"><ul>
                            <li>{$page}</li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        $('.addimg').on('click',function (event) {
            event.preventDefault();//禁用a标签的默认动作（跳转）
            $('.update').css("display","block");
        })
    </script>