<div class="col-sm-2 col-md-2 col-lg-2 column left_menu">
    <ul class="nav">
        <li>
            <span class="glyphicon glyphicon-th-large"></span> 功能
        </li>
        <li>
            <a href="#">群发功能</a>
        </li>
        <li>
            <a href="/Home/PdAutoResponse/subscribeResponse">自动回复</a>
        </li>
        <li>
            <a href="/Home/PdCustomMenu/menu">自定义菜单</a>
        </li>
        <li>
            <span class="glyphicon glyphicon-inbox"></span> 管理
        </li>
        <li>
            <a href="/Home/pdMaterial/newsList">素材管理</a>
        </li>
        <li>
            <a href="/Home/PdUserManager/">用户管理</a>
        </li>
        <li>
            <a href="#">消息管理</a>
        </li>
        <li>
            <span class="glyphicon glyphicon-dashboard"></span> 统计
        </li>
        <li>
            <a href="#">用户分析</a>
        </li>
        <li>
            <a href="#">图文分析</a>
        </li>
        <li>
            <a href="#">菜单分析</a>
        </li>
    </ul>
</div>