<include file="./Common:header" />
<import type='css' file="Home.css.project_center" />
<import type='css' file="Home.css.pd_auto_response" />
<import type='css' file="Home.css.datetimepicker" />
<style>
    .screening{
        display: inline;
        float: left;
        margin-left:50px;
        margin-bottom: 0px;
    }
    .screening > select{
        min-width: 92px;
    }
    .screening > label{
        font-weight: normal;
        margin-bottom: 10px;
    }
    .modal-body.timer-send{
        line-height: 50px;
        text-align: center;
        padding: 125px 0;
        font-size:20px;
    }
</style>
</head>
<body>
<!--navbar-->
<include file="./Common:top_navbar" />
<!--content-->
<div class="container-fluid main_content">
    <div class="row clearfix">
        <include file="./Common:project_sidebar_wrap" />
        <div class="col-xs-10 column right_content">
            <h4>消息群发</h4>
            <div class="btn-group btn-group-sm">
                <form role="form">
                    <div class="form-group screening">
                        <label>群发对象</label>
                        <select class="form-control" name="">
                            <option>全部用户</option>
                            <option>按标签选择</option>
                        </select>
                    </div>
                    <div class="form-group screening">
                        <label>选择标签</label>
                        <select class="form-control">
                            <option>1</option>
                        </select>
                    </div>
                    <div class="form-group screening">
                        <label>性别</label>
                        <select class="form-control">
                            <option>男</option>
                            <option>女</option>
                        </select>
                    </div>
                    <div class="form-group screening">
                        <label>地区</label>
                        <select class="form-control">
                            <option>全部</option>
                            <option>中国</option>
                            <option>不丹</option>
                        </select>
                    </div>
                </form>
            </div>
            <button type="button" class="btn btn-default btn-success" href="sendList"  style="float: right;margin-top:30px;" id="scan_timer_list"> &nbsp;&nbsp;查看定时列表&nbsp;&nbsp; </button>
            <div class="tabbable edit_tabbable" id="tabs-635277">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#panel-text" data-toggle="tab"><span class="glyphicon glyphicon-pencil"></span> 文字</a>
                    </li>
                    <li>
                        <a href="#panel-image" data-toggle="tab"><span class="glyphicon glyphicon-picture"></span> 图片</a>
                    </li>
                    <li>
                        <a href="#panel-voice" data-toggle="tab"><span class="glyphicon glyphicon-volume-up"></span> 语音</a>
                    </li>
                    <li>
                        <a href="#panel-music" data-toggle="tab"><span class="glyphicon glyphicon-music"></span> 音乐</a>
                    </li>
                    <li>
                        <a href="#panel-video" data-toggle="tab"><span class="glyphicon glyphicon-facetime-video"></span> 视频</a>
                    </li>
                    <li>
                        <a href="#panel-news" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></span> 图文</a>
                    </li>
                </ul>
                <div class="col-xs-12 column tab-content">
                    <div class="tab-pane active" id="panel-text">
                        <textarea class="textarea" name="response_content"></textarea>
                    </div>
                    <div class="col-xs-12 column tab-pane" id="panel-image">
                        <div class="col-xs-6 column material_select sl">
                            <p class="text-center"><span class="glyphicon glyphicon-plus"></span></p>
                            <p class="text-center"><a  href="#modal-container-image" onclick="get_material(this)" data-toggle="modal" data-type="select_from_material">从素材库选择</a></p>
                        </div>
                        <div class="col-xs-6 column material_select">
                            <p class="text-center"><span class="glyphicon glyphicon-upload"></span></p>
                            <p class="text-center"><a href="javascript:void(0)" onclick="upload_file(this)">上传</a></p>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-success" id="progressBarImage">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 column tab-pane" id="panel-voice">
                        <div class="col-xs-6 column material_select sl">
                            <p class="text-center"><span class="glyphicon glyphicon-plus"></span></p>
                            <p class="text-center"><a  href="#modal-container-voice" onclick="get_material(this)" data-toggle="modal" data-type="select_from_material">从素材库选择</a></p>
                        </div>
                        <div class="col-xs-6 column material_select">
                            <p class="text-center"><span class="glyphicon glyphicon-upload"></span></p>
                            <p class="text-center"><a href="javascript:void(0)" onclick="upload_file(this)">本地上传</a></p>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-success" id="progressBarVoice">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 column tab-pane" id="panel-music">
                        <div class="form-horizontal" >
                            <div class="form-group">
                                <label class="col-xs-2 control-label">标题</label>
                                <div class="col-xs-10">
                                    <input type="text" class="form-control" name="title" placeholder="标题在15个字符以内（选填）"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label">描述</label>
                                <div class="col-xs-10">
                                    <input type="text" class="form-control" name="description" placeholder="描述在30个字符以内（选填）" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label">音乐链接url</label>
                                <div class="col-xs-10">
                                    <input type="url" class="form-control" name="music_url" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label">高质量音乐链接</label>
                                <div class="col-xs-10">
                                    <input type="url" class="form-control" name="hq_music_url" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label">音乐贴图</label>
                                <div class="col-xs-2">
                                    <img class="thumb" src="" width="100%" height="70px;" />
                                </div>
                                <div class="col-xs-8">
                                    <div class="col-xs-3">
                                        <a  href="#modal-container-thumb" onclick="get_material(this)" style="line-height:28px;" data-toggle="modal" data-type="select_from_material">从素材库选择</a>
                                    </div>
                                    <button class="col-xs-2 btn btn-success btn-sm upload" onclick="upload_file(this)">上传</button><br/><br/>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-success" id="progressBarThumb">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 column tab-pane" id="panel-video">
                        <div class="col-xs-6 column material_select sl">
                            <p class="text-center"><span class="glyphicon glyphicon-plus"></span></p>
                            <p class="text-center"><a  href="#modal-container-video" onclick="get_material(this)" data-toggle="modal" data-type="select_from_material">从素材库选择</a></p>
                        </div>
                        <div class="col-xs-6 column material_select">
                            <p class="text-center"><span class="glyphicon glyphicon-upload"></span></p>
                            <p class="text-center"><a href="#modal-add-video" data-toggle="modal">本地上传</a></p>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-success" id="progressBarVideo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 column tab-pane" id="panel-news">
                        <div class="col-xs-6 column material_select sl">
                            <p class="text-center"><span class="glyphicon glyphicon-plus"></span></p>
                            <p class="text-center"><a  href="#modal-container-news" onclick="get_material(this)" data-toggle="modal" data-type="select_from_material">从素材库选择</a></p>
                        </div>
                        <div class="col-xs-6 column material_select">
                            <p class="text-center"><span class="glyphicon glyphicon-upload"></span></p>
                            <p class="text-center"><a href="/Home/PdMaterial/addNewsPage" target="_blank">新建图文</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 column auto_res_btn">
                <button type="button" class="btn btn-default btn-success" id="message"> &nbsp;&nbsp;群发&nbsp;&nbsp; </button>
                <button type="button" class="btn btn-default btn-success" href="#modal-container-timer-send" data-toggle="modal" id="time_send"> &nbsp;&nbsp;定时群发&nbsp;&nbsp; </button>
        </div>
        </div>
    </div>
</div>
<!--hidden nav-->
<include file="./Common:project_hidden_nav" />
<!--从素材库选择图片弹窗-->
<div class="container material_container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="modal fade" id="modal-container-image" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="dialog_mask">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" >
                                    选择图片
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="col-sm-12 column">
                                    <div class="img_list"></div>
                                    <a href="javascript:void(0)" class="load_more hidden" onclick="load_more(this)" data-load="image">加载更多…</a>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button data-type="ensure" class="btn btn-primary disabled">确定</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--从素材库选择语音弹窗-->
<div class="container material_container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="modal fade" id="modal-container-voice" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="dialog_mask">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" >
                                    选择语音
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="col-xs-12 column voice_list">
                                </div>
                                <a href="javascript:void(0)" class="load_more hidden" data-load="voice" onclick="load_more(this)">加载更多…</a>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button data-type="ensure" class="btn btn-primary disabled">确定</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--从素材库选择音乐消息缩略图-->
<div class="container material_container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="modal fade" id="modal-container-thumb" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="dialog_mask">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="myModalLabel">
                                    选择图片
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="col-xs-12 column">
                                    <div class="img_list"></div>
                                    <a href="javascript:void(0)" class="load_more hidden" onclick="load_more(this)" data-load="thumb">加载更多…</a>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button data-type="thumb_ensure" class="btn btn-primary disabled">确定</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--从素材库选择视频弹窗-->
<div class="container material_container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="modal fade" id="modal-container-video" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="dialog_mask">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" >
                                    选择视频
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="col-xs-12 column video_list">
                                </div>
                                <a href="javascript:void(0)" class="load_more hidden" onclick="load_more(this)" data-load="video">加载更多…</a>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button data-type="ensure" class="btn btn-primary disabled">确定</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--从素材库选择图文弹窗-->
<div class="container material_container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="modal fade" id="modal-container-news" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="dialog_mask">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" >
                                    选择图文
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="col-xs-12 column news_list">
                                    <!--<div class="col-xs-4 column cell" data-type="data_box_cell">
                                        <div class="col-xs-12 column news_box">
                                            <div class="news_header_more">
                                                <h5>2016年10月28</h5>
                                            </div>
                                            <div class="col-xs-12 column news_body">
                                                <div class="first data_box">
                                                    <img src="" width="100%" height="120px">
                                                    <p>title</p>
                                                </div>
                                                <div class="col-xs-12 column data_box">
                                                    <div class="col-xs-8 column">
                                                        <h5>title</h5>
                                                    </div>
                                                    <div class="col-xs-4 column">
                                                        <img src="" width="100%" height="70">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 column data_box">
                                                    <div class="col-xs-8 column">
                                                        <h5>title</h5>
                                                    </div>
                                                    <div class="col-xs-4 column">
                                                        <img src="" width="100%" height="70px">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 column cell" data-type="data_box_cell">
                                        <div class="col-xs-12 column news_box">
                                            <div class="news_header_single">
                                                <h5>2016年10月28</h5>
                                            </div>
                                            <div class="col-xs-12 column news_body">
                                                <div class="col-xs-12 column data_box">
                                                    <p>title</p>
                                                    <img src="" width="100%" height="150px">
                                                    <p>discription</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 column cell" data-type="data_box_cell">
                                        <div class="col-xs-12 column news_box">
                                            <div class="news_header_single">
                                                <h5>2016年10月28</h5>
                                            </div>
                                            <div class="col-xs-12 column news_body">
                                                <div class="col-xs-12 column data_box">
                                                    <p>title</p>
                                                    <img src="" width="100%" height="150px">
                                                    <p>discription</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                                <a href="javascript:void(0)" class="load_more hidden" onclick="load_more(this)" data-load="news">加载更多…</a>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button data-type="ensure" class="btn btn-primary disabled">确定</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container material_container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="modal fade" id="modal-container-timer-send" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="dialog_mask">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="myModalLabel">
                                    定时群发设置
                                </h4>
                            </div>
                            <div class="modal-body timer-send">
                                <span style="font-size: 30px; line-height: 56px;">请设置发送时间：</span><input type="text" id="datetimepicker_dark"/>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button data-type="thumb_ensure" class="btn btn-primary disabled">确定</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--add video-->
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="modal fade" id="modal-add-video" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="dialog_mask">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">
                                    添加视频
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div role="form">
                                    <div class="form-group">
                                        <label>标题</label><input type="text" class="form-control" name="title" id="title" />
                                    </div>
                                    <div class="form-group">
                                        <label>视频描述</label><input type="text" class="form-control" name="introduction" id="introduction" />
                                    </div>
                                    <div class="form-group">
                                        <label>视频文件</label><input type="file"  name="file" id="video_file" /><hr/>
                                        <p class="help-block">
                                            视频不能超过20M，超过20M的视频可至<a href="http://v.qq.com/u/upload.html"> 腾讯视频</a>上传后添加，也可通过添加视频详情页链接以及公众号文章链接插入视频，视频时长不少于1秒，不多于10小时，支持大部分主流视频格式
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button class="btn btn-primary" id="add_video">保存</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--footer-->
<include file="./Common:footer" />

<!--备用替换模板从素材库选择-->
<div class="material_select sl" style="display:none;" data-type="sel_mat_model">
    <p class="text-center"><span class="glyphicon glyphicon-plus"></span></p>
    <p class="text-center"><a  href="#modal-container-voice" data-toggle="modal" onclick="get_material(this)" data-type="select_from_material">从素材库选择</a></p>
</div>

<!--备用替换模板从上传|新建-->
<div class="material_select" style="display:none;" data-type="upload_model">
    <p class="text-center"><span class="glyphicon glyphicon-upload"></span></p>
    <p class="text-center"><a href="javascript:void(0)" onclick="upload_file(this)">上传</a></p>
    <div class="progress progress-striped">
        <div class="progress-bar progress-success" id="">
        </div>
    </div>
</div>
<!--音乐在线播放的内联窗口-->
<iframe class="hidden" id="iframe"></iframe>
<!--文件上传的公共选择条-->
<input class="hidden" type="file" id="file"/>
</body>
<include file="./Common:bottom_js" />
<import type='js' file="Home.js.project_center" />
<import type='js' file="Home.js.pd_auto_response" />
<import type='js' file="Home.js.datetimepicker" />
<script>
    $("#scan_timer_list").click(function () {
        window.location.href=$(this).attr('href');
    })
    $('#datetimepicker_dark').datetimepicker({theme:'dark'})
</script>
</html>