<include file="./Common:header" />
    </head>
    <body>
        <!--navbar-->
        <include file="./Common:top_navbar" />
        <!--content-->
        <div class="container-fluid main_content">
            <div class="row clearfix">
                <div class="col-xs-12 column">
                    <div class="alert alert-dismissable alert-success">
                        <h4>
                            创建成功!
                        </h4> <strong>注意!</strong> 请在 <a href="https://mp.weixin.qq.com/" class="alert-link">微信公众平台</a> 配置以下信息
                        <hr/>
                        <p>
                            服务器地址：http://www.wangzhanjian.cn/AutoResponse/
                        </p>
                        <p>
                            token：weiguanjia
                        </p>
                        <p>
                            <a href="gzhConfigHelp" class="alert-link">如何配置？</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--footer-->
        <include file="./Common:footer" />
    </body>
<include file="./Common:bottom_js" />
<import type='js' file="Home.js.log_res_style" />
</html>