<include file="./Common:header" />
        <style type="text/css" media="screen">
            .main_content{
                height: 450px;
                padding-top: 30px;
            }
        </style>
    </head>
    <body>
        <!--navbar-->
        <include file="./Common:top_navbar" />
        <!--content-->
        <div class="container-fluid main_content">
            <div class="row clearfix">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 column">
                    <div class="alert alert-dismissable alert-success">
                        <h4>
                            创建成功!
                        </h4> <strong>注意!</strong> 请在 <a href="#" class="alert-link">微信公众平台</a> 配置以下信息
                        <hr/>
                        <p>
                            服务器地址：http://www.wangzhanjian.cn/
                        </p>
                        <p>
                            token：weiguanjia
                        </p>
                        <p>
                            <a href="#" class="alert-link">如何配置？</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--footer-->
        <include file="./Common:footer" />
    </body>
<include file="./Common:bottom_js" />
</html>