<include file="./Common:header" />
        <style type="text/css" media="screen">
            .main_content{
                height: 450px;
            }
        </style>
    </head>
    <body>
        <!--navbar-->
        <include file="./Common:top_navbar" />
        <!--content-->
       <div class="container main_content">
            <div class="row clearfix">
                <div class="col-md-12 column">
                <h3>找回密码：</h3>
                    <div class="panel-group" id="panel-567714">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                 <a class="panel-title" data-toggle="collapse" data-parent="#panel-567714" href="#panel-element-first">第一步</a>
                            </div>
                            <div id="panel-element-first" class="panel-collapse in">
                                <div class="panel-body">
                                    <div class="form-group form-horizontal">
                                        <label class="col-xs-2 control-label">用户名</label>
                                        <div class="col-xs-4">
                                            <input type="text" class="form-control" name="username" id="username" placeholder="您注册邮箱 | 手机" />
                                        </div>
                                        <div class="col-xs-3">
                                            <empty name="verify_state">
                                                <button type="submit" class="btn btn-primary" data-state="0" id="send_verify_code">发送验证码</button>
                                                <else />
                                                <button type="submit" class="btn btn-primary disabled" data-state="{$verify_state}" id="send_verify_code">发送验证码</button>
                                            </empty>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-567714" href="#panel-element-second">第二步</a>
                            </div>
                            <div id="panel-element-second" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="form-group form-horizontal">
                                        <label class="col-xs-3 control-label">请输入验证码</label>
                                        <div class="col-xs-4">
                                            <input type="text" class="form-control" name="verify_code" id="verify_code" placeholder="请输入服务器发给您的验证码" />
                                        </div>
                                        <div class="col-xs-3">
                                            <button type="submit" class="btn btn-primary" id="submit_verify_code">提交</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-567714" href="#panel-element-third">第三步</a>
                            </div>
                            <div id="panel-element-third" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="form-group form-horizontal">
                                        <label class="col-xs-2 control-label">新密码</label>
                                        <div class="col-xs-3">
                                            <input type="password" class="form-control" name="password" id="password" placeholder="密码为6-16位非空字符" />
                                        </div>
                                        <label class="col-xs-2 control-label">确认密码</label>
                                        <div class="col-xs-3">
                                            <input type="password" class="form-control" name="affirm_password" id="affirm_password"  />
                                        </div>
                                        <div class="col-xs-2">
                                            <button type="submit" class="btn btn-success disabled" id="modify_pswd">修改</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--footer-->
        <include file="./Common:footer" />
    </body>
<include file="./Common:bottom_js" />
<script>
    $(function () {

        $forbidTime=$('#send_verify_code').attr('data-state');
        if($forbidTime!=0){
            btn_forbid_time('#send_verify_code',$forbidTime);
        }

        //发送验证码
        $('#send_verify_code').click(function () {
            $.post('sendVerifyCodeForFindPasswordAjax',{"username":$('#username').val()},function (data) {
                if(data=='success'){
                    btn_forbid_time('#send_verify_code',60);
                }else{
                    alert(data);
                }
            })
        });
        //验证码验证
        $("#submit_verify_code").click(function () {
            $code=$('#verify_code').val();
            if($code.length){
                $.post('checkPswdVerifyCodeAjax',{"verify_code":$code},function (data) {
                    if(data == 'success'){
                        $('#modify_pswd').removeClass('disabled');
                        $("#submit_verify_code").addClass('disabled');
                    }else{
                        console.log(data);
                        alert('验证码不正确！');
                    }
                })
            }else {
                alert('验证码不能为空！');
            }
        });
        
        $('#modify_pswd').click(function () {
            $password=$('#password').val();
            $affirmPswd=$('#affirm_password').val();
            if($password.length) {
                $pswdrule = /\S{6,16}/;
                if ($pswdrule.test($password)) {
                    if($affirmPswd.length) {
                        if ($password == $affirmPswd) {
                            $.post('findPswdAjax',{"password":$password,'affirm_password':$affirmPswd},function (data) {
                                if(data == 'success'){
                                    alert('密码修改成功！');
                                    window.location.href='loginPage';
                                }else{
                                    alert(data);
                                }
                            });
                        } else {
                           alert('两次密码不一致！');
                        }
                    }else{
                        alert('确认密码不能为空！');
                    }
                } else {
                    alert('密码为6-16位非空字符！');
                }
            }else{
                alert('密码不能为空!');
            }
        });
        
    })

    function btn_forbid_time(btn,time) {
        time-=1;
        $(btn).addClass('disabled').text('('+time+'s) 后重发');
        if(time>0){
            setTimeout("btn_forbid_time('"+btn+"',"+time+")",1000);
        }else{
            $(btn).removeClass('disabled').text('发送验证码');
        }
    }
</script>
</html>