<include file="./Common:header" />
        <style type="text/css" media="screen">
            .main_content{
                height: 450px;
            }
        </style>
    </head>
    <body>
        <!--navbar-->
        <include file="./Common:top_navbar" />
        <!--content-->
       <div class="container main_content">
            <div class="row clearfix">
                <div class="col-md-12 column">
                <h3>找回密码：</h3>
                    <div class="panel-group" id="panel-567714">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                 <a class="panel-title" data-toggle="collapse" data-parent="#panel-567714" href="#panel-element-first">第一步</a>
                            </div>
                            <div id="panel-element-first" class="panel-collapse in">
                                <div class="panel-body">
                                    <div class="form-group form-horizontal">
                                        <label for="inputEmail3" class="col-xs-2 control-label">用户名</label>
                                        <div class="col-xs-4">
                                            <input type="text" class="form-control" name="username" id="username" placeholder="您注册邮箱 | 手机" />
                                        </div>
                                        <div class="col-xs-3">
                                            <button type="submit" class="btn btn-primary">发送验证码</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-567714" href="#panel-element-second">第二步</a>
                            </div>
                            <div id="panel-element-second" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="form-group form-horizontal">
                                        <label for="inputEmail3" class="col-xs-3 control-label">请输入验证码</label>
                                        <div class="col-xs-4">
                                            <input type="text" class="form-control" name="verify_code" id="verify_code" placeholder="请输入服务器发给您的验证码" />
                                        </div>
                                        <div class="col-xs-3">
                                            <button type="submit" class="btn btn-primary">提交</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-567714" href="#panel-element-third">第三步</a>
                            </div>
                            <div id="panel-element-third" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="form-group form-horizontal">
                                        <label for="inputEmail3" class="col-xs-2 control-label">新密码</label>
                                        <div class="col-xs-3">
                                            <input type="text" class="form-control" name="new_password" id="new_password" placeholder="密码为6-16位非空字符" />
                                        </div>
                                        <label for="inputEmail3" class="col-xs-2 control-label">确认密码</label>
                                        <div class="col-xs-3">
                                            <input type="text" class="form-control" name="affirm_password" id="affirm_password"  />
                                        </div>
                                        <div class="col-xs-2">
                                            <button type="submit" class="btn btn-success disabled">修改</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--footer-->
        <include file="./Common:footer" />
    </body>
<include file="./Common:bottom_js" />
</html>