<include file="./Common:header" />
    <import type='css' file="Home.css.personal_center" />
        <style type="text/css" media="screen">
            .right_content table td a{
                margin-right: 10px;
            }
        </style>
    </head>
    <body>
    <!--navbar-->
        <include file="./Common:top_navbar" />
    <!--content-->
        <div class="container main_content">
            <div class="row clearfix">
                <div class="col-sm-3 col-md-3 col-lg-3 column">
                    <div class="left_nav">
                       <ul class="nav">
                            <li>
                                <a href="info">个人信息</a>
                            </li>
                            <li>
                                <a href="modifyPasswordPage">修改密码</a>
                            </li>
                            <li class="active">
                                <a href="gzhList">公众号</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-9 col-md-9 col-lg-9 column">
                    <div class="right_content">
                        <div class="date">
                            <span id="time"><i>2016 年 11 月 22 日</i></span>
                            <span>梦 &nbsp;很 &nbsp;浅 ，万 &nbsp;物 &nbsp;皆 &nbsp;自 &nbsp;然</span>
                        </div>
                        <div class="content">
                            <table>
                                <empty name="gzh">
                                    <td class="t_head"><h4>您还未创建项目</h4></td><td><a href="__ROOT__/Home/ProjectManager/centerPage">去项目中心</a> </td>
                                    <else />
                                    <volist name="gzh" id="vo"  >
                                        <tr>
                                            <td class="t_head">{$vo.app_name}</td><td><a href="">详 情</a><a href="/Home/ProjectManager/switching?app_name={$vo.app_name}">开 发</a><a href="gzhDel?app_name={$vo.app_name}">删 除</a></td>
                                        </tr>
                                    </volist>
                                </empty>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--footer-->
        <include file="./Common:footer" />
    </body>
<include file="./Common:bottom_js" />
<import type='js' file="Home.js.personal_center" />
</html>