
    <!--content-->
        <div class="container main_content">
            <div class="row clearfix">
                <div class="col-sm-3 col-md-3 col-lg-3 column">
                    <div class="left_nav">
                       <ul class="nav">
                            <li class="active">
                                <a href="./personal_center.html">个人信息</a>
                            </li>
                            <li>
                                <a href="./modify_password.html">修改密码</a>
                            </li>
                            <li>
                                <a href="./personal_center_gzh.html">公众号</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-9 col-md-9 col-lg-9 column">
                    <div class="right_content">
                        <div class="date">
                            <span><i>2016 年 11 月 22 日</i></span>
                            <span>梦 &nbsp;很 &nbsp;浅 ，万 &nbsp;物 &nbsp;皆 &nbsp;自 &nbsp;然</span>
                        </div>
                        <div class="content">
                            <table>
                                <tr>
                                    <td class="t_head">用户名</td><td>wzj</td>
                                </tr>
                                <tr>
                                    <td class="t_head">邮&nbsp;&nbsp;&nbsp;箱</td><td>317619554@qq.com</td>
                                </tr>
                                <tr>
                                    <td class="t_head">手&nbsp;&nbsp;&nbsp;机</td><td>15232160915</td>
                                </tr>
                                <tr>
                                    <td class="t_head" colspan="2"><a href="">修 改</a></td><td> </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>