<include file="./Common:header" />
    <import type='css' file="Home.css.log_reg" />
    </head>
    <body>
        <!--navbar-->
        <include file="./Common:top_navbar" />
        <!--content-->
        <div class="container main_content">
            <div class="row clearfix">
                <div class="col-sm-6 col-md-6 col-lg-6 column">
                    <img alt="140x140" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/140/140/default.jpg" />
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 column">
                        <form role="form" action="__ROOT__/Home/UserManager/register" method="post">
                            <div class="form-group">
                                 <label>用 户 名</label><input type="text" class="form-control" name="username" id="username" placeholder="请输入邮箱或手机" />
                            </div>
                            <div class="form-group">
                                 <label>密码</label><input type="password" class="form-control" name="password" id="password" />
                            </div>
                            <div class="form-group">
                                 <label>确认密码</label><input type="password" class="form-control" name="affirm_password" id="affirm_password" />
                            </div>
                            <div class="form-group">
                                 <label>验证码</label><input type="text" class="form-control verify_code" name="verify_code" id="verify_code" />
                                <img class="verify_img" src="__ROOT__/Home/UserManager/getVerify"/>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label><input type="checkbox" name="remember_password" />我已阅读并同意<a href="">《微管家用户注册协议》</a></label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default btn-primary btn-block">注册</button>
                        </form>
                </div>
            </div>
        </div>
        <!--footer-->
        <include file="./Common:footer" />
    </body>
</html>