<include file="./Common:header" />
    <import type='css' file="Home.css.log_reg" />
    </head>
    <body>
        <!--navbar-->
        <include file="./Common:top_navbar" />
        <!--content-->
        <div class="container-fluid main_content">
            <div class="row clearfix">
                <div class="col-xs-12 col-sm-6 column left_img">

                </div>
                <div class="col-xs-12 col-sm-6 column">
                        <form role="form" action="__ROOT__/Home/UserManager/register" method="post">
                            <div class="form-group">
                                 <label>用 户 名 <span class="username_tip tip"></span></label>
                                 <input type="text" class="form-control" name="username" id="username" placeholder="请输入邮箱或手机" />
                            </div>
                            <div class="form-group">
                                 <label>密码<span class="password_tip tip"></span></label>
                                <input type="password" class="form-control" name="password" id="password" placeholder="密码由6-16位非空字符组成" />
                            </div>
                            <div class="form-group">
                                 <label>确认密码<span class="affirm_pswd_tip tip"></span></label><input type="password" class="form-control" name="affirm_password" id="affirm_password" />
                            </div>
                            <div class="form-group">
                                 <label>验证码<span class="verify_code_tip tip"></span></label><input type="text" class="form-control verify_code" name="verify_code" id="verify_code" />
                                <div class="verify_code_box">
                                    <img class="verify_img" src="__ROOT__/Home/UserManager/getVerify"/> <a href="" id="change_verify_code"> &nbsp;看不清</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label><input type="checkbox" data-cur="odd" id="agreement" name="agreement" />我已阅读并同意<a href="">《微管家用户注册协议》</a></label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default disabled btn-block btn-primary" data-type="btn_submit">注册</button>
                        </form>
                </div>
            </div>
        </div>
        <!--footer-->
        <include file="./Common:footer" />
    </body>
<include file="./Common:bottom_js" />
<import type='js' file="Home.js.register_verify" />
</html>