h1{
    text-align: center;
}
h3{
    text-align: center;
}
img{    
    margin-bottom: 19px;
}
span{
    margin-bottom: 19px;
    display: block;
    text-align: center;
}
.begin1{
    width: 900px;
}
.begin2{
    width: 350px;
}
.begin3{
    width: 400px;
}
.begin4{
    width: 700px;
}



