    <include file="./Common:header" />
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.11.3.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script type="text/javascript" src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
    <import type='js' file="Home.js.project_center" />
    <imoprt type="css" file="Home.css.project_center" />
    <import type="css" file="Home.css.pc_auto_response" />
    <import type="js" file="Home.js.pc_auto_response" />
    <style type="text/css">
        .tips_global{
            color: #8d8d8d;
        }
        .menu_setting_area{
            float: left;
            margin: 14px 30px 0;
        }
        .menu_preview_area{
            float: left;
            width: 350px;
            height: auto;
        }
        .mobile_menu_preview{
            width: 320px;
            height: auto;
            border: 1px solid #e7e7eb;
            margin-right: 10px;
        }
        .menu_form_area{
            display: table-cell;
            vertical-align: top;
            float: none;
            width: 550px;
        }
        .portable_editor{
            padding-left: 12px;
            width: auto;
            height: auto;
        }
        .editor_inner {
            height: auto;
            min-height: 560px;
            padding-bottom: 20px;
            padding: 0 20px 5px;
            background-color: #f4f5f9;
            border: 1px solid #e7e7eb;
        }
        .menu_form_hd {
            padding: 9px 0;
            border-bottom: 1px solid #e7e7eb;
        }
        .global_info{
            float: left;
        }
        .global_extra{
            text-align: right;
        }
        .frm_label{
            float: left;
            width: 5em;
            margin-top: .3em;
            margin-right: 1em;
            font-size: 14px;
        }
        .frm_controls {
            display: table-cell;
            vertical-align: top;
            float: none;
            width: auto;
        }
        .frm_control_group {
            margin-top: 30px;
            margin-bottom: 30px;
            padding-bottom: 0;
        }
        .mobile_hd{
            color: #fff;
            text-align: center;
            padding-top: 30px;
            font-size: 15px;
            width: auto;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: normal;
            /*margin: 0 30px;*/
            background: transparent url("__PUBLIC__/Home/images/bg_mobile_head_default2968da.png") no-repeat 0 0;
        }
        .pre_menu_list{
            position: relative;
            background: transparent url("__PUBLIC__/Home/images/bg_mobile_foot_default2968da.png") no-repeat 0 0;
            bottom: -356px;
            left: 0;
            right: 0;
            border: 1px solid #e7e7eb;
            padding-left: 43px;
            float: left;
            width: 321px;
        }
        .menu_childlist{
            display: none;
        }
        .menu_list{
            display: block;
            float: left;
            width: 33.33%;
            border-left: 1px solid #e7e7eb;

        }
        .menu_link:hover{
            color: #222;
            text-decoration:none;
        }
        .menu_link{
            display: block;
            width: auto;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: normal;
            color: #616161;
            text-decoration: none;
            text-align: center;
            line-height: 48px;
        }
        .menu_botton_select{
            border: 1px solid #44b549;
            line-height: 48px;
            background-color: #fff;
            color: #44b549;
        }
        .menu_childlist{
            position: absolute;
            bottom: 50px;
            width: auto;
            border: 1px solid #d0d0d0;
            background-color: #fff;
            text-align: center;
            background-color: #fafafa;
        }
        .menu_childlist_li{
            border: 1px solid #d0d0d0;
            line-height: 45px;
            cursor: pointer;
            width: 93.984px;
        }
        .menu_childlist_li:hover{
            background-color: #eee;
        }
        .menu_childlist_ul{
            padding-left: 0px;
        }
        .child_select{
            display: block;
        }
        .msg_sender_tips{
            display: block;
            color: #8d8d8d;
            margin-top: 20px;
        }
        .frm_msg{
            display: none;
        }
        .frm_controls p{
            color: #8d8d8d;
        }
        .add_main_menu{
            display: none;
        }
        .select_menu_active{
            width: 172px;
            height: 22px;
            border-radius: 4px;
        }
        .frm_input{
            border-radius: 4px;
        }
        .view{
            display: none;
            background-color: #fff;
            padding: 16px 20px;
            border: 1px solid #e7e7eb;
        }
        #urlText{
            width: 330px;
            border-radius: 0px;
        }
        .tab-pane{
            background-color: #fff;
        }
        #panel-news{
            border-top: 1px solid #ddd;
        }
        .menu_responce{
            display: none;
        }
    </style>
</head>
<body>
<!--navbar-->
<include file="./Common:top_navbar" />
<!--content-->
<div class="container main_content">
    <div class="row clearfix">
        <include file="./Common:project_sidebar_wrap" />
        <!--整个右侧区 -->
        <div class="menu_setting_area js_editBox">
            <!--手机区-->
            <div class="menu_preview_area">
                <div class="mobile_menu_preview">
                    <div class="mobile_hd tc">测试公众号</div>
                    <div class="mobile_bd">
                        <ul class="pre_menu_list grid_line" id='menuList'>
                            <volist name="menu" id="main_menu">
                                <li class="menu_list main_menu">
                                    <a href="javascript:void(0);" class="menu_link {$main_menu.category} menu" active_type="{$main_menu.type}" message="{$main_menu.key}{$main_menu.url}"><span class="menu_botton">{$main_menu.name}</span></a>
                                    <div class="menu_childlist">
                                        <ul class="menu_childlist_ul">
                                            <volist name="main_menu.sub_button" id="children_menu">
                                                <li class="menu_childlist_li child_menu"><a href="javascript:void(0)" class="menu_link botton menu" active_type="{$children_menu.type}" message="{$children_menu.key}{$children_menu.url}"><span class="menu_botton child_botton">{$children_menu.name}</span></a></li>
                                            </volist>
                                            <li class="menu_childlist_li add_menu"><a href="javascript:void(0)" class="menu_link"><span class="menu_botton">+</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                            </volist>
                            <!--<li class="menu_list main_menu">-->
                                <!--<a href="javascript:void(0);" class="menu_link botton menu" active_type="text" message="文本回复"><span class="menu_botton">按钮1</span></a>-->
                                <!--<div class="menu_childlist">-->
                                    <!--<ul class="menu_childlist_ul">-->
                                        <!--<li class="menu_childlist_li add_menu"><a href="javascript:void(0)" class="menu_link"><span class="menu_botton">+</span></a></li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li class="menu_list main_menu menu_botton_select active_menu">-->
                                <!--<a href="javascript:void(0)" class="menu_link list menu"><span class="menu_botton">主菜单1</span></a>-->
                                <!--<div class="menu_childlist child_select">-->
                                    <!--<ul class="menu_childlist_ul">-->
                                        <!--<li class="menu_childlist_li child_menu"><a href="javascript:void(0)" class="menu_link botton menu" active_type="view_limited" message="1"><span class="menu_botton child_botton">内容1</span></a></li>-->
                                        <!--<li class="menu_childlist_li child_menu"><a href="javascript:void(0)" class="menu_link botton menu" active_type="media_id" message="2"><span class="menu_botton child_botton">内容2</span></a></li>-->
                                        <!--<li class="menu_childlist_li add_menu"><a href="javascript:void(0)" class="menu_link"><span class="menu_botton">+</span></a></li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</li>-->
                            <li class="menu_list add_main_menu">
                                <a href="javascript:void(0)" class="menu_link"><span class="menu_botton">+</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--菜单修改区-->
            <div class="menu_form_area">
                <div id='js_none' class="menu_initial_tips tips_global" style="display:none;"></div>
                <div id='js_rightBox' class="portable_editor to_left" style="display:block;">
                    <div class="editor_inner">
                        <div class="global_mod float_layout menu_form_hd js_second_title_bar">
                            <h4 class="global_info">工作日志</h4>
                            <div class="global_extra">
                                <a href="javascript:void(0);" id='jsDelBt'>删除菜单</a>
                            </div>
                        </div>
                        <div class="menu_form_bd" id='view'>
                            <div style='display:none;' class="msg_sender_tips tips_global">
                                已添加子菜单，仅可设置菜单名称
                            </div>
                            <div class="frm_control_group js_setNameBox">
                                <label class="frm_label">
                                    <strong class="title js_menuTitle">菜单名称</strong>
                                </label>
                                <div class="frm_controls">
										<span class="frm_input_box with_counter counter_in append">
											<input type="text" class="frm_input js_menu_name" onkeyup="this.value=this.value.replace(/[, ]/g,'')">
										</span>
                                    <p class="frm_msg fail js_titleEorTips dn">字数超过上限</p>
                                    <p class="frm_msg fail js_titlenoTips dn">请输入菜单名称</p>
                                    <p class="frm_tips js_titleNolTips">字数不超过4个汉字或8个字母</p>
                                </div>
                            </div>
                            <div class="frm_control_group menu_content">
                                <label class="frm_label">
                                    <strong class="title js_menuContent">菜单内容</strong>
                                </label>
                                <select class="select_menu_active">
                                    <option value="media_id">发送多媒体信息</option>
                                    <option value="view_limited">发送图文信息</option>
                                    <option value="view">跳转链接</option>
                                    <option value="click">发送文本信息</option>
                                    <!-- <option value="scancode_waitmsg">调用扫一扫工具</option> -->
                                </select>
                            </div>
                        </div>
                        <!--发送多媒体信息-->
                        <div class="tabbable edit_tabbable media_id menu_responce" id="tabs-635277">
                            <ul class="nav nav-tabs">
                                <li>
                                    <a href="#panel-image" data-toggle="tab"><span class="glyphicon glyphicon-picture"></span> 图片</a>
                                </li>
                                <li>
                                    <a href="#panel-voice" data-toggle="tab"><span class="glyphicon glyphicon-volume-up"></span> 语音</a>
                                </li>
                                <li>
                                    <a href="#panel-music" data-toggle="tab"><span class="glyphicon glyphicon-music"></span> 音乐</a>
                                </li>
                                <li>
                                    <a href="#panel-video" data-toggle="tab"><span class="glyphicon glyphicon-facetime-video"></span> 视频</a>
                                </li>
                            </ul>
                            <div class="col-xs-12 column tab-content">
                                <div class="col-xs-12 column tab-pane active" id="panel-image">
                                    <div class="col-xs-6 column material_select sl">
                                        <p class="text-center"><span class="glyphicon glyphicon-plus"></span></p>
                                        <p class="text-center"><a  href="#modal-container-image" onclick="get_material(this)" data-toggle="modal" data-type="select_from_material">从素材库选择</a></p>
                                    </div>
                                    <div class="col-xs-6 column material_select">
                                        <p class="text-center"><span class="glyphicon glyphicon-upload"></span></p>
                                        <p class="text-center"><a href="javascript:void(0)" onclick="upload_file(this)">上传</a></p>
                                        <div class="progress progress-striped">
                                            <div class="progress-bar progress-success" id="progressBarImage">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 column tab-pane" id="panel-voice">
                                    <div class="col-xs-6 column material_select sl">
                                        <p class="text-center"><span class="glyphicon glyphicon-plus"></span></p>
                                        <p class="text-center"><a  href="#modal-container-voice" onclick="get_material(this)" data-toggle="modal" data-type="select_from_material">从素材库选择</a></p>
                                    </div>
                                    <div class="col-xs-6 column material_select">
                                        <p class="text-center"><span class="glyphicon glyphicon-upload"></span></p>
                                        <p class="text-center"><a href="javascript:void(0)" onclick="upload_file(this)">本地上传</a></p>
                                        <div class="progress progress-striped">
                                            <div class="progress-bar progress-success" id="progressBarVoice">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 column tab-pane" id="panel-music">
                                    <div class="form-horizontal" >
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">标题</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" name="title" placeholder="标题在15个字符以内（选填）"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">描述</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" name="description" placeholder="描述在30个字符以内（选填）" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">音乐链接url</label>
                                            <div class="col-md-10">
                                                <input type="url" class="form-control" name="music_url" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">高质量音乐链接</label>
                                            <div class="col-md-10">
                                                <input type="url" class="form-control" name="hq_music_url" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">音乐贴图</label>
                                            <div class="col-md-2">
                                                <img class="thumb" src="" width="100%" height="70px;" />
                                            </div>
                                            <div class="col-md-8">
                                                <div class="col-md-3">
                                                    <a  href="#modal-container-thumb" onclick="get_material(this)" style="line-height:28px;" data-toggle="modal" data-type="select_from_material">从素材库选择</a>
                                                </div>
                                                <button class="col-md-2 btn btn-success btn-sm upload" onclick="upload_file(this)">上传</button><br/><br/>
                                                <div class="progress progress-striped">
                                                    <div class="progress-bar progress-success" id="progressBarThumb">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 column tab-pane" id="panel-video">
                                    <div class="col-xs-6 column material_select sl">
                                        <p class="text-center"><span class="glyphicon glyphicon-plus"></span></p>
                                        <p class="text-center"><a  href="#modal-container-video" onclick="get_material(this)" data-toggle="modal" data-type="select_from_material">从素材库选择</a></p>
                                    </div>
                                    <div class="col-xs-6 column material_select">
                                        <p class="text-center"><span class="glyphicon glyphicon-upload"></span></p>
                                        <p class="text-center"><a href="#modal-add-video" data-toggle="modal">本地上传</a></p>
                                        <div class="progress progress-striped">
                                            <div class="progress-bar progress-success" id="progressBarVideo">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--发送图文消息-->
                        <div class="col-xs-12 column tab-pane menu_responce" id="panel-news">
                            <div class="col-xs-6 column material_select sl">
                                <p class="text-center"><span class="glyphicon glyphicon-plus"></span></p>
                                <p class="text-center"><a  href="#modal-container-news" onclick="get_material(this)" data-toggle="modal" data-type="select_from_material">从素材库选择</a></p>
                            </div>
                            <div class="col-xs-6 column material_select">
                                <p class="text-center"><span class="glyphicon glyphicon-upload"></span></p>
                                <p class="text-center"><a href="/Home/PdMaterial/addNewsPage" target="_blank">新建图文</a></p>
                            </div>
                        </div>
                        <!-- 跳转链接 -->
                        <div class="view menu_responce">
                            <form action="">
                                <p class="menu_content_tips tips_global">订阅者点击该子菜单会跳到以下链接</p>
                                <div class="frm_control_group">
                                    <label class="frm_label">页面地址</label>
                                    <div class="frm_controls">
                                                <span class="frm_input_box">
                                                    <input type="text" class="frm_input mes" id="urlText" name="urlText">
                                                </span>
                                        <p class="frm_tips" id="js_urlTitle" style="display: none;">
                                            来自<span class="js_name"></span><span style=""> -《<span class="js_title"></span>》</span>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- 发送文本信息 -->
                        <div class="click menu_responce">
                            <div class="tab-pane" id="panel-text">
                                <textarea class="textarea" name="response_content"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--保存键-->
            <div class="col-xs-12 column auto_res_btn">
                <button type="button" class="btn btn-default btn-success update"> &nbsp;&nbsp;保存&nbsp;&nbsp; </button>
                <button type="button" class="btn btn-default btn-success delete">&nbsp;&nbsp;删除&nbsp;&nbsp;</button>
            </div>
        </div>
    </div>
</div>
<!-- 子菜单超过五个时的提示框 -->
<div class="modal" id="mymodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p>最多创建五个子菜单</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--footer-->
<div class="row clearfix footer">
    <div class="col-sm-12 col-md-12 col-lg-12 column">
        <p class="text-center">
            Copyright © 2011-2016 www.weiguanjia.com. All Rights Reserved software college of Hebei Normal University
        </p>
        <p class="text-center">冀 ICP 备 2016110.3485A</p>
    </div>
</div>
<!--备用替换模板从素材库选择-->
<!--从素材库选择图片弹窗-->
<div class="container material_container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="modal fade" id="modal-container-image" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="dialog_mask">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" >
                                    选择图片
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="col-sm-12 column">
                                    <div class="img_list"></div>
                                    <a href="javascript:void(0)" class="load_more hidden" onclick="load_more(this)" data-load="image">加载更多…</a>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button data-type="ensure" class="btn btn-primary disabled">确定</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--从素材库选择语音弹窗-->
<div class="container material_container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="modal fade" id="modal-container-voice" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="dialog_mask">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" >
                                    选择语音
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="col-xs-12 column voice_list">
                                </div>
                                <a href="javascript:void(0)" class="load_more hidden" data-load="voice" onclick="load_more(this)">加载更多…</a>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button data-type="ensure" class="btn btn-primary disabled">确定</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--从素材库选择音乐消息缩略图-->
<div class="container material_container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="modal fade" id="modal-container-thumb" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="dialog_mask">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="myModalLabel">
                                    选择图片
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="col-xs-12 column">
                                    <div class="img_list"></div>
                                    <a href="javascript:void(0)" class="load_more hidden" onclick="load_more(this)" data-load="thumb">加载更多…</a>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button data-type="thumb_ensure" class="btn btn-primary disabled">确定</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--从素材库选择视频弹窗-->
<div class="container material_container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="modal fade" id="modal-container-video" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="dialog_mask">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" >
                                    选择视频
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="col-xs-12 column video_list">
                                </div>
                                <a href="javascript:void(0)" class="load_more hidden" onclick="load_more(this)" data-load="video">加载更多…</a>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button data-type="ensure" class="btn btn-primary disabled">确定</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--从素材库选择图文弹窗-->
<div class="container material_container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="modal fade" id="modal-container-news" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="dialog_mask">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" >
                                    选择图文
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="col-xs-12 column news_list">
                                    <!--<div class="col-xs-4 column cell" data-type="data_box_cell">
                                        <div class="col-xs-12 column news_box">
                                            <div class="news_header_more">
                                                <h5>2016年10月28</h5>
                                            </div>
                                            <div class="col-xs-12 column news_body">
                                                <div class="first data_box">
                                                    <img src="" width="100%" height="120px">
                                                    <p>title</p>
                                                </div>
                                                <div class="col-xs-12 column data_box">
                                                    <div class="col-xs-8 column">
                                                        <h5>title</h5>
                                                    </div>
                                                    <div class="col-xs-4 column">
                                                        <img src="" width="100%" height="70">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 column data_box">
                                                    <div class="col-xs-8 column">
                                                        <h5>title</h5>
                                                    </div>
                                                    <div class="col-xs-4 column">
                                                        <img src="" width="100%" height="70px">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 column cell" data-type="data_box_cell">
                                        <div class="col-xs-12 column news_box">
                                            <div class="news_header_single">
                                                <h5>2016年10月28</h5>
                                            </div>
                                            <div class="col-xs-12 column news_body">
                                                <div class="col-xs-12 column data_box">
                                                    <p>title</p>
                                                    <img src="" width="100%" height="150px">
                                                    <p>discription</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 column cell" data-type="data_box_cell">
                                        <div class="col-xs-12 column news_box">
                                            <div class="news_header_single">
                                                <h5>2016年10月28</h5>
                                            </div>
                                            <div class="col-xs-12 column news_body">
                                                <div class="col-xs-12 column data_box">
                                                    <p>title</p>
                                                    <img src="" width="100%" height="150px">
                                                    <p>discription</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                                <a href="javascript:void(0)" class="load_more hidden" onclick="load_more(this)" data-load="news">加载更多…</a>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button data-type="ensure" class="btn btn-primary disabled">确定</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--add video-->
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="modal fade" id="modal-add-video" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="dialog_mask">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">
                                    添加视频
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div role="form">
                                    <div class="form-group">
                                        <label>标题</label><input type="text" class="form-control" name="title" id="title" />
                                    </div>
                                    <div class="form-group">
                                        <label>视频描述</label><input type="text" class="form-control" name="introduction" id="introduction" />
                                    </div>
                                    <div class="form-group">
                                        <label>视频文件</label><input type="file"  name="file" id="video_file" /><hr/>
                                        <p class="help-block">
                                            视频不能超过20M，超过20M的视频可至<a href="http://v.qq.com/u/upload.html"> 腾讯视频</a>上传后添加，也可通过添加视频详情页链接以及公众号文章链接插入视频，视频时长不少于1秒，不多于10小时，支持大部分主流视频格式
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button class="btn btn-primary" id="add_video">保存</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--备用替换模板从素材库选择-->
<div class="material_select sl" style="display:none;" data-type="sel_mat_model">
    <p class="text-center"><span class="glyphicon glyphicon-plus"></span></p>
    <p class="text-center"><a  href="#modal-container-voice" data-toggle="modal" onclick="get_material(this)" data-type="select_from_material">从素材库选择</a></p>
</div>
<!--备用替换模板从上传|新建-->
<div class="material_select" style="display:none;" data-type="upload_model">
    <p class="text-center"><span class="glyphicon glyphicon-upload"></span></p>
    <p class="text-center"><a href="javascript:void(0)" onclick="upload_file(this)">上传</a></p>
    <div class="progress progress-striped">
        <div class="progress-bar progress-success" id="">
        </div>
    </div>
</div>
<!--音乐在线播放的内联窗口-->
<iframe class="hidden" id="iframe"></iframe>
<!--文件上传的公共选择条-->
<input class="hidden" type="file" id="file"/>
</div>
</body>
<script>
    $(document).ready(function(){
        //获取当前所有的key值
        $(".pre_menu_list").find(".menu_link[active_type = 'click']").html()
        //选中第一个菜单
        $(".pre_menu_list").children(".main_menu:first").addClass("menu_botton_select active_menu");
        $(".menu_botton_select").children(".menu_childlist").addClass("child_select");
        //加载成功时右边的菜单名的显示
        var title = $(".menu_botton_select").children(".menu_link").children(".menu_botton").html();
        if (title == null){
            $(".global_mod").add(".menu_form_bd").css("display","none");
        }
        $(".js_menu_name").val(title);
        //判断是否显示添加主菜单
        if ($(".pre_menu_list").children(".main_menu").size()<3) {
            $(".add_main_menu").css("display","block");
        };
        //根据默认点击的菜单判断菜单编辑区显示的内容
        var default_menu_class = $(".menu_botton_select").children(".menu_link").attr('class');
        if (default_menu_class != null) {
            if (default_menu_class.indexOf("botton") != -1) {
                $(".tips_global").css("display", "none");
                $(".menu_content").css("display", "block");
                $(".tabbable").css("display", "block");
            } else {
                $(".tips_global").css("display", "block");
                $(".menu_content").css("display", "none");
                $(".tabbable").css("display", "none");
            }
        }
        //根据默认点击的菜单的菜单类型显示对应内容
        var default_menu_type = $(".menu_botton_select").children(".menu_link").attr("active_type");
        $(".select_menu_active").val(default_menu_type);
        $(".menu_responce").addClass("hidden");
        $('.' + default_menu_type).removeClass("hidden").css("display", "block");
        //当用户点击菜单时修改菜单的样式类，显示菜单
        $('.pre_menu_list').on("click",'.main_menu',function() {
        //当用户点击一级菜单时
        $(this).addClass("menu_botton_select");
        var elsebotton = $('.menu_list').not($(this));
        //获取未被选择的一级菜单
        $(elsebotton).removeClass("menu_botton_select");
        $(this).children(".menu_childlist").addClass("child_select");
        $(elsebotton).children(".menu_childlist").removeClass("child_select");
    })
        //添加子菜单
        $(".pre_menu_list").on("click", ".add_menu", function () {
            var count = $(this).siblings(".menu_childlist_li").size();
            console.log(count);
            if (count >= 5) {
                $("#mymodal").modal("toggle");
            } else {
                $(".active_menu").removeClass("active_menu")
                $(this).before("<li class='menu_childlist_li active_menu'><a href='javascript:void(0)' class='menu_link botton menu' active_type='text'><span class='menu_botton child_botton'>新建菜单</span></a></li>");
                $(this).parents(".menu_list").children(".menu_link.botton.menu").attr("class", "menu_link list menu").trigger("click");
                $(".global_info").text("新建菜单");
                $(".js_menu_name").val("新建菜单");
            }
        })
        //添加主菜单
        $(".add_main_menu").click(function () {
            $(this).before("<li class='menu_list main_menu'><a href='javascript:void(0);' class='menu_link botton menu'><span class='menu_botton'>新建菜单</span></a><div class='menu_childlist'><ul class='menu_childlist_ul'><li class='menu_childlist_li'><a href='javascript:void(0)' class='menu_link add_menu'><span class='menu_botton'>+</span></a></li></ul></div></li>");
            if ($(".pre_menu_list").children(".main_menu").size() >= 3) {
                $(".add_main_menu").css("display", "none");
            }
            ;
        })
        //点击菜单时在右侧编辑区显示当前菜单名称
        $(".pre_menu_list").on('click', '.menu', function () {
            $(".global_mod").add(".menu_form_bd").css("display","block");
            var title = $(this).find("span").text();
            $(this).parent("li").addClass("active_menu");
            $(".menu_list").not($(this).parent("li")).removeClass("active_menu");
            $(".menu_childlist_li").not($(this).parent("li")).removeClass("active_menu");
            $(".global_info").text(title);
            $(".js_menu_name").val(title);
        })
        //点击菜单时右侧动作区显示对应动作
        $(".pre_menu_list").on('click','.menu',function () {
            var type = $(this).attr("active_type");
            $(".select_menu_active").val(type);
            $(".menu_responce").addClass("hidden");
            $('.'+type).removeClass("hidden").css("display","block");
        })
        //当点击有子菜单的主菜单时右侧只显示名称
        $(".pre_menu_list").on('click', '.list', function () {
            $(".tips_global").css("display", "block");
            $(".menu_content").css("display", "none");
            $(".tabbable").css("display", "none");
            $(".menu_responce").css("display", "none");
        })
        //当点击子菜单或者无子菜单的主菜单时显示动作选择
        $(".pre_menu_list").on('click', '.botton', function () {
            $(".tips_global").css("display", "none");
            $(".menu_content").css("display", "block");
            $(".tabbable").css("display", "block");
        })
        //判断菜单名称长度
        $(".js_menu_name").keyup(function () {
            var str = $(this).val();
            var len = 0;
            for (var i = 0; i < str.length; i++) {
                if (str[i].match(/[^\x00-\xff]/ig) != null) //全角
                    len += 2;
                else
                    len += 1;
            }
            if (len > 8) {
                $(".js_titleEorTips").css("display", "block");
                $(".js_titleNolTips").css("display", "none");
                $(this).css("border-color", "red");
            } else {
                if (len == 0) {
                    $(".js_titlenoTips").css("display", "block");
                    $(".js_titleNolTips").css("display", "none");
                    $(this).css("border-color", "red");
                } else {
                    $(".dn").css("display", "none");
                    $(".js_titleNolTips").css("display", "block");
                    $(this).css("border-color", "#e7e7eb");
                    $(".active_menu").children("a").children("span").text(str);
                }
            }
            ;
        })
        //删除菜单操作
        $("#jsDelBt").click(function () {
            var last = $(".active_menu").siblings(".add_menu");
            $("li").remove(".active_menu");
            if ($(".pre_menu_list").children(".main_menu").size() < 3) {
                $(".add_main_menu").css("display", "block");
            };
            if (last.siblings().size() == 0){
                last.parents(".menu_list").children(".menu_link.list.menu").attr("class","menu_link botton menu");
                last.parents(".menu_list").addClass("active_menu");
                last.parents(".menu_list").children(".menu_link").trigger("click");
            }
            if (last.siblings().size != 0){
                last.siblings('.menu_childlist_li:eq(0)').children(".menu_link").trigger("click");
                console.log(last.siblings('.menu_childlist_li:eq(0)').text());
            }
        })
        //根据选择修改右侧回复区的内容
        $(".select_menu_active").change(function () {
            var checkValue = $(this).val();
            console.log(checkValue);
            $(".active_menu").children("a").attr("active_type",checkValue);
            $(".menu_responce").addClass("hidden");
            $('.' + checkValue).removeClass("hidden").css("display", "block");
        })
        //删除所有菜单
        $(".delete").click(function () {
            $delete = new Object();
            $delete['0'] = "delete";
            $.post('__ROOT__/Home/PdCustomMenu/delete',$delete,function (data) {
                console.log(data);
            })
        })
        //跳转链接的输入框失去焦点时将内容保存到input里面
        $("#urlText").blur(function () {
            $(this).attr("message",$(this).val());
        })
        //文本回复的文本域失去焦点时将内容保存到数据库中

        //当点击并非正在编辑的标签或提交按钮时，保存当前标签的修改
        $("li").not($(".active_menu")).add(".update").click(function () {
            var mes = $(".menu_responce:not('.hidden')").find(".mes").attr("message");
            alert(mes);
            $(".active_menu").children("a").attr("message",mes);
        })
        //组成json串并上传
        $(".update").click(function () {
            $menu = new Object();
            $n = 0;
            $menu['button'] = Array();
            $(".main_menu").each(function () {
                if ($(this).children("a").attr("class").indexOf("botton") != -1){
                    $name = $(this).children("a").text();
                    $button_type = $(this).children("a").attr("active_type");
                    $message = $(this).children("a").attr("message");
                    alert($message);
                    switch ($button_type){
                        case "click":
                            $menu['button'][$n] = {
                            "type":"click",
                            "name":$name,
                            "key":$message
                        };
                        break;
                        case "media_id":
                            $menu['button'][$n] = {
                            "type":$button_type,
                            "name":$name,
                            "media_id":$message
                        };
                        break;
                        case "view_limited":
                            $menu['button'][$n] = {
                            "type": $button_type,
                            "name": $name,
                            "media_id": $message
                        };
                        break;
                        case "view":
                            $menu['button'][$n] = {
                            "type": $button_type,
                            "name": $name,
                            "url": $message
                        };
                        break;
                    }
                }else if ($(this).children("a").attr("class").indexOf("botton") == -1){
                    $name = $(this).children("a").text();
                    $menu['button'][$n] = {
                        "name":$name,
                        "sub_button":Array()
                    }
                    $i = 0;
                    $(this).children(".menu_childlist").children(".menu_childlist_ul").find(".child_menu").each(function () {
                        $name = $(this).children("a").text();
                        $button_type = $(this).children("a").attr("active_type");
                        $message = $(this).children("a").attr("message");
                        switch ($button_type) {
                            case "click":
                                $menu['button'][$n]['sub_button'][$i] = {
                                    "type": $button_type,
                                    "name": $name,
                                    "key": $message
                                };
                                break;
                            case "media_id":
                                $menu['button'][$n]['sub_button'][$i] = {
                                    "type": $button_type,
                                    "name": $name,
                                    "media_id": $message
                                };
                                break;
                            case "view_limited":
                                $menu['button'][$n]['sub_button'][$i] = {
                                    "type": $button_type,
                                    "name": $name,
                                    "media_id": $message
                                };
                                break;
                            case "view":
                                $menu['button'][$n]['sub_button'][$i] = {
                                    "type": $button_type,
                                    "name": $name,
                                    "url": $message
                                };
                                break;
                        }
                        $i = $i+1;
                    })
                }
                $n = $n+1;
            })
            console.log($menu);
        $.post('__ROOT__/Home/PdCustomMenu/create',$menu,function (data) {
            console.log(data);
        });
        })
    })
</script>
</html>