/* 
* @Author: anchen
* @Date:   2016-11-17 16:37:58
* @Last Modified by:   anchen
* @Last Modified time: 2016-11-19 15:47:26
*/

.bottom_content{
    margin-top: 100px;
}
.main_content{
    margin:30px auto;
}
.tab-content{
    border: 1px solid #ddd;
    border-style: none solid solid solid;
    padding:0 15px 30px 15px;
    margin-bottom: 30px;
}
.jumbotron{
    padding:48px 40px;
    background: url('../images/bg_jumbotron.png');
    color:#fff;
}