/* 
* @Author: wzj
* @Date:   2016-11-17 13:50:42
* @Last Modified by:   anchen
* @Last Modified time: 2016-11-20 20:01:20
*/
.logo{
    width: 100%;
    height: 50px;
    background-image: url('../images/logo.png');
    background-size:110% 100%;
}

.show_panel{
    padding: 30px 15px;
}

.more{
    float: right;
}

.more a{
    font-size: 14px;
    color: #888;
}

.time{
    float:right;
    color:#8c8c8c;
}
.bottom_bar{
    background-color: #eee;
    width: 100%;
    padding: 25px;
}

.bottom_bar h4{
    width: 50%;
    border-bottom: 1px solid #aaa;
    text-align: center;
    line-height: 40px;
    margin: 0 auto 10px auto;
}

.bottom_bar ul li{
    line-height: 30px;
    text-align: center;
}

.bottom_bar li a{
    color: #666;
}
.footer{
    height: 100px;
    background-color: #4a4849;
    padding: 25px;
    color: #fff;
}