/* 
* @Author: wzj
* @Date:   2016-11-17 15:40:10
* @Last Modified by:   anchen
* @Last Modified time: 2016-11-19 19:35:02
*/
.main_content{
    padding: 30px;
}

.log_reg_form{
    border: 1px solid #8c8c8c;
    padding: 50px 50px;
    margin: auto;
    width: 90%;
    border-radius: 20px;
    box-shadow: 0 0 10px #8c8c8c;
}

.checkbox label.right{
    float: right;
}