/* 
* @Author: wzj
* @Date:   2016-11-17 15:40:10
* @Last Modified by:   anchen
* @Last Modified time: 2016-11-19 19:35:02
*/
.main_content{
    padding: 30px 5%;
}
.main_content.login{
    height:420px;
}

.main_content .left_img{
    height:360px;
    background-image: url('../images/log_reg.png');
    background-size: 90% 110%;
}
form{
    border: 1px solid #8c8c8c;
    padding: 50px 50px;
    margin: auto;
    width: 90%;
    border-radius: 20px;
    box-shadow: 0 0 10px #8c8c8c;
}

.checkbox label.right{
    float: right;
}

.verify_code {
    width: 40%;
}

.verify_code_box{
    width: 50%;
    height: 34px;
    margin-top: -34px;
    margin-bottom: -34px;
    float: right;
}
.verify_img{
    height:100%;
}

.tip{
    color:#f00;
}
