/*
页面信息：用户的用户管理界面
*/

.col-md-9 img{
    width: 130px;
    height: 130px;
}
.col-md-9 {
    box-shadow:2px 2px 10px #909090;
    padding: 20px;
}
.col-md-3 {
    text-align: center;
}
.col-md-7 {
    padding: 15px;
}
#page{
    text-align: center;
    font-size: 20px;
}
.users{
    width: 250px;
    height: 170px;
    float: left;
    margin-right: 15px;
    margin-left: 10px;
}
.label_cell{
    margin: 5px 0;
}
.label_cell .data_box{
    border:1px solid #ddd;
}
.label_cell .user_data_box{
    padding: 10px 0;
    border:1px solid #ddd;
}
.label_header{
    border:1px solid #ddd;
    padding: 5px;
}
.label_list{
    border:1px solid #ddd;
    border-style: none solid solid solid;
    padding:10px 0;
    height:270px;
    overflow: auto;
}
#portrait{
    float: right;
}
.labels{
    line-height: 50px;
}
.modal-body{
    size: 20px;
}
span.user_info{
    color:#888;
}
div.list_cell{
    border:1px solid #ddd;
    padding:10px 0;
    margin:5px 0;
}
.user_list{
    overflow: auto;
    height: 330px;
}
.right_content > button.active{
    background-color: #555;
    color:#fff;
}
button.add_label{
    float: right;
}