/* 
* @Author: anchen
* @Date:   2016-11-18 19:40:03
* @Last Modified by:   anchen
* @Last Modified time: 2016-11-20 12:46:36
*/
.glyphicon{
    color: #888;
}

.glyphicon_left{
    color: #fff;
    font-size: 150%;
}

.main_content{
   margin:30px auto;
}

.left_menu{
    border-right:1px solid #8c8c8c;
    /*padding-left: 5%;**/
}

.left_menu li{
    color: #888;
}
.left_menu li a{
    color: #000;
    padding-left: 20%;
}

.left_menu_gzh{
    border-style: none;
}

.left_menu_gzh li a{
    color: #888;
}

.right_content_gzh{
    padding-left: 5%;
    border-left: 1px solid #8c8c8c;
    margin-left: -15px;
}

.right_content_gzh p{
    padding-left: 30px;
    line-height: 30px;
    text-decoration: underline;
    color: #8c8c8c;
}

.right_content_gzh p.btn_in{
    text-decoration: none;
}

.right_content_gzh p button{
    text-decoration: none;
    margin-right: 15%;
}

.right_label{
    width: 3%;
    height: 50%;
    position: fixed;
    top: 25%;
}

.hidden_nav{
    position: fixed;
    width: 15%;
    height: 50%;
    top: 25%;
    right: -15%;
    border:1px solid #428bca;
    background-color: #fff;
    border-radius: 4px;
}

.gzh_list{
    padding:0;
    width: 100%;
}

.dialog_mask{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: auto;
}

.modal-dialog{
    z-index: 5;
}

.create_help{
    float: right;
}
.title1{
    font-family: 楷体;
    font-size:20px;
    font-weight: 600;

}
p{
    font-family: 微软雅黑;
    font-size: 15px;
}